$board-size: 500px;
$chess-font: staunty;


body {
    background-color: rgb(36, 36, 36);
}

.board-container {
    width: $board-size;
    height: $board-size;
    margin: 10% auto;

    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;

    position: relative;
    // z-index: -1;
}



.square {
    display: inline-block;
    width: 100%;
    height: 100%;

    // border: 5px solid green;
}


// piece-hover is added to the square when user is dragging a piece over top of the square
// .square.piece-hover {

// }

.square.black{
    background-color: burlywood;
    // border: 1px solid red;
}

.square.white {
    background-color: white;
}

.piece {
    width: 100%;
    height: 100%;
    background-size: contain;
    // background-color: pink;
}

.piece:hover {
    opacity: 0.6;
}

.piece.pawn.white {
    background-image: url("res/piece-fonts/#{$chess-font}/pw.svg");
}

.piece.pawn.black {
    background-image: url("res/piece-fonts/#{$chess-font}/pb.svg");
}

.piece.rook.white {
    background-image: url("res/piece-fonts/#{$chess-font}/rw.svg");
}

.piece.rook.black {
    background-image: url("res/piece-fonts/#{$chess-font}/rb.svg");
}

.piece.knight.white {
    background-image: url("res/piece-fonts/#{$chess-font}/nw.svg");
}

.piece.knight.black {
    background-image: url("res/piece-fonts/#{$chess-font}/nb.svg");
}

.piece.bishop.white {
    background-image: url("res/piece-fonts/#{$chess-font}/bw.svg");
}

.piece.bishop.black {
    background-image: url("res/piece-fonts/#{$chess-font}/bb.svg");
}

.piece.king.white {
    background-image: url("res/piece-fonts/#{$chess-font}/kw.svg");
}

.piece.king.black {
    background-image: url("res/piece-fonts/#{$chess-font}/kb.svg");
}

.piece.queen.white {
    background-image: url("res/piece-fonts/#{$chess-font}/qw.svg");
}

.piece.queen.black {
    background-image: url("res/piece-fonts/#{$chess-font}/qb.svg");
}